<div class="row">
  <div class="col-md-12 video">
    <p class="text-center">This site is dedicated to one of the best bands ever, Anah Aevia.</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kGQt66_ml90" frameborder="0" allowfullscreen></iframe>

    <br>
    <br>
    <p class="text-center text-muted">
      This website is <%= link_to 'open source', 'https://github.com/cilphex/anahaevia.com' %>.
    </p>
  </div>
</div>